/* */

body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}
h2 {
    font-size: 32px;
    font-family: 'Arvo', courier, serif;
    text-shadow: 2px 2px 2px #aaa;
}
h3 {
    font-size: 32px;
    font-family: 'Arvo', courier, serif;
    text-shadow: 2px 2px 2px #aaa;
    margin-bottom: 22px;
    text-align: center;
    align-self: center;
}
h4 {
    font-size: 24px;
    font-family: 'Arvo', courier, serif;
    text-shadow: 2px 2px 2px #aaa;
    margin: 22px;
    text-align: center;
    align-self: center;
}
.nav, .navbar-brand {
    font-family: 'Arvo', courier, serif;
}
.content-template {
    padding: 0px 14px;
    text-align: center;
}
.jumbotron {
    text-align: center;
    color: black;
    background-image: url('../img/earth.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    height: 100%;
    padding-top: 120px;
}
.jumbotron p {
    font-size: 4em;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.hr-top {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.headshot {
    border-radius: 16px;
    border: 2px solid #888;
    width: 200px;
    box-shadow: 4px 5px 28px -2px;
}
.projectpanel {
    transition: all 0.3s ease 0s;
    width: 100%;
}
.projectpanel:hover {
    transform: scale(1.1);
    border-color: darkblue;
}
.section-projects {
    height: 100%;
    padding-top: 50px;
    background: #ddd;
    background-image: url('../img/laptop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;

}
.section-contact {
    height: 95%;
    padding-top: 50px;
    background: #ddd;
    background-image: url('../img/writing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}
a.btn-showme:after {
    font-family: FontAwesome;
    content: "\f061";
    padding-left: 5px;
    vertical-align: middle;
}
a.btn-learnmore:after, a.btn-learnmore:before {
    font-family: FontAwesome;
    font-size: 22px;
    content: "\f103";
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: middle;
}

/* ======================== */

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}
